<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>

  <h3>Friends</h3>
  <% @friends.uniq.each do |friend| %>
  	<p><%= friend.name %></p>
  <% end %>

  <h3>Friend Requests</h3>
  <% @friend_requests.uniq.each do |friend| %>
  	<p><%= friend.name %></p>
    <%= link_to 'Accept', user_friendship_path(friend.id), method: :patch%>
    <%= link_to 'Reject', user_friendship_path(friend.id), method: :delete%>
  <% end %>
</section>
