<section class="user-section">
  <h2 class="text-center">
    <em><%= "#{@user.name}" %></em>
  </h2>  

  <h4>My Friends</h4>
  <% @friends.uniq.each do |friend| %>
  	<p>
      <%= friend.name %>
      <small>
        <%= link_to 'See Profile',  user_path(friend), 
        class: 'text-info font-weight-light' %>
      </small>
    </p>
  <% end %>

  <article class="timeline">
    <h4>My Posts</h4>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>

  <%= friend_request(@user, @friend_requests) %>
  <%= friend_inv(@user) %>
</section>
